FLASK_APP= your app name
FLASK_ENV=development
DATABASE_URI=your batabase url
SECRET_KEY=your secret key
DEBUG=true
SESSION_COOKIE_NAME=random name
ENCRYPTION_KEY=generate your encryption key using Fernet.generate_key()